/** COLORS
red:    #FE6F71
yellow: #F9BE58
alt yellow: #EBB352
blue:   #2263A1
white:  #EAE2D7
grey:   #586070
 **/

 body {
  background: #EBB352;
  padding: 0;
  color: #586070;

  margin: 0;
  height: 100%;
  font-family: 'Lora', serif;
}
a:link {
  text-decoration: none;
  color: #586070;

}
a:visited {
  color: #EAE2D7;
}
header {
  height: 150px;
  font-family: 'Merriweather', serif;
  color: #EAE2D7;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 1em 0;
}
h2 {
  font-size: 30px;
  margin: 1.5em 0;
  text-align: center;

}
h3 {
  font-size: 30px;
  line-height: 1.2em;
  font-family: 'Lora', serif;
  margin: 1.5rem 0;
  /* color: #2263A1; */
}
p {
  margin: 1rem ;
  line-height: 1.2em;

}
li {
  line-height: 1.5em;
}
#about {
  width: 80%;
  min-width: 300px;
  min-height: 366px;
  background: #EAE2D7;
  position: relative;
  border: 20px solid #2263A1;
  border-radius: 2rem 2rem 2px 2px;
  color: #586070;
  margin: auto;
  font-size: 20px;
  padding: 1rem;
  }
#about:after {
  content: '';
  position: absolute;
  top: -3rem;
  left: -3rem;
  right: -3rem;
  bottom: -3rem;
  border: 3rem solid #FE6F71;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  z-index: -1;
}
#about img {
  width: 300px;
  margin: 30px;
  border: 3px solid #586070;
  border-radius: 2px;
  float: left;
  display: block;
}
#catlist, #experience{
  margin: 1.5rem 3rem;
  /* width: 40%; */
}
#start {

  /* color: #586070; */
  background-color: #EAE2D7;
    color: #FE6F71;
    border: solid 4px #FE6F71;;
    border-radius: 8px;  
  display: block;
  width: 100px;
  height: 100px;
  margin: 2rem auto;
  box-shadow: 2px 2px #586070;
}

.flex-wrapper {
  display: flex;
  align-items: top;
  justify-content: center;
}